<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <form action="/posts/search/" method="POST" name="searchForm">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name = "phrase" placeholder="Search for...">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit">Go</button>
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>